:root {
--ming: #16697aff;
--pacific-blue: #489fb5ff;
--middle-blue: #82c0ccff;
--isabelline: #ede7e3ff;
--orange-peel: #ffa62bff;
--gruppo: 'gruppo';
--licorice: 'licorice';
--montserrat: 'montserrat';
--mont-alts: 'montserrat alternates';
}


.navbar {
    background: var(--pacific-blue);
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    font-family: var(--mont-alts);
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 3;
    margin: 0px 10px 0px 10px;
  }
  
  .navbar a:hover {
    color: var(--orange-peel)
  }
 