body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --ming: #16697aff;
  --pacific-blue: #489fb5ff;
  --middle-blue: #82c0ccff;
  --isabelline: #ede7e3ff;
  --orange-peel: #ffa62bff;
  --gruppo: 'gruppo';
  --licorice: 'licorice';
  --montserrat: 'montserrat';
  --mont-alts: 'montserrat alternates';
  }

  

  /*NAV TABS*/

.navtabs {
    background: var(--pacific-blue);
    text-align: center;
}

.navtabs li {
    display: inline-block;
    font-family: var(--mont-alts);
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 3;
    margin: 0px 10px 0px 10px;
}
  
.navtabs a:hover {
    color: var(--orange-peel)
}





/*HEADER*/
.header {
  background: var(--ming);
  height: auto;
}

.header h1 {
  margin: 0;
  padding: 40px 20px 40px 20px;
  text-align: center;
  color: white;
  font-family: var(--mont-alts);
  font-weight: 400;
  font-size: 60px;
}

.header h1:hover {
  color: var(--orange-peel);

}





/*ABOUT ME*/

.aboutMe {
    background: var(--isabelline);
    padding: 20px;
  
}
  
.aboutMe h2 {
    text-align: center;
    font-family: var(--mont-alts);
    font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--ming);
}

a:hover {
  color: var(--orange-peel);
}


.aboutme-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.aboutme-container img {  
  padding: 15px;
  margin: 20px;
  width: 200px;
  height: 270px;
  border-radius: 10px;
}




/*RESUME*/
.resume {
  background: var(--isabelline);
  padding: 20px;

}

.resume h2 {
  text-align: center;
  font-family: var(--mont-alts);
  font-weight: 400;
}

ul li {
  list-style-type: circle;
  line-height: 2;
}




/*CONTACT FORM*/
.contact {
  background: var(--isabelline);
  padding: 20px;
  text-align: center;
}

.contact h2 {
  text-align: center;
  font-family: var(--mont-alts);
  font-weight: 400;
}

.contact form {
  display: inline-block;
  background-color:var(--middle-blue);
  width: 400px;
  border: none;
  border-radius: 4px;
  margin: 20px;
}

fieldset {
  border: 2px solid var(--ming);
  border-radius: 4px;
}

input {
  width: 100%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid var(--ming);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--ming);
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button {
  background-color: var(--pacific-blue);
  border: 1px solid var(--ming);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--orange-peel);
}





/*Portfolio*/
.portfolio {
  background: var(--isabelline);
  padding: 20px;

}

.portfolio h2 {
  text-align: center;
  font-family: var(--mont-alts);
  font-weight: 400;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.images-container img {  
  padding: 15px;
  margin: 20px;
  width: 200px;
  height: 270px;
  border-radius: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}


/* FOOTER */

.footer {
  font-size: 36px;
  text-align: center;
  position: fixed;
  bottom: 0;
  position:relative;
  bottom: 0;
  width: 100%;
  margin: 10px;
}

.fa {
  display: inline-block;
  margin: 10px;
}
