/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



:root {
  --ming: #16697aff;
  --pacific-blue: #489fb5ff;
  --middle-blue: #82c0ccff;
  --isabelline: #ede7e3ff;
  --orange-peel: #ffa62bff;
  --gruppo: 'gruppo';
  --licorice: 'licorice';
  --montserrat: 'montserrat';
  --mont-alts: 'montserrat alternates';
  }

  

  /*NAV BAR*/

  .navbar {
    background: var(--pacific-blue);
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    font-family: var(--mont-alts);
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 3;
    margin: 0px 10px 0px 10px;
  }
  
  .navbar a:hover {
    color: var(--orange-peel)
  }
 




/*HEADER*/
.header {
  background: var(--ming);
  height: auto;
}

.header h1 {
  margin: 0;
  padding: 40px 20px 40px 20px;
  text-align: center;
  color: white;
  font-family: var(--mont-alts);
  font-weight: 400;
  font-size: 60px;
}

.header h1:hover {
  color: var(--orange-peel)

}





/*ABOUT ME*/

.aboutMe {
    background: var(--isabelline);
    padding: 20px;
  
}
  
.aboutMe h2 {
    text-align: center;
    font-family: var(--mont-alts);
    font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--ming);
}

a:hover {
  color: var(--orange-peel);
}




/* FOOTER */

.footer {
  font-size: 36px;
  text-align: center;
}

.fa {
  display: inline-block;
  margin: 10px;
}

